.search-input {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: 0.2px solid #220f002a;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  background-color: #220f0008;
  transition: all 0.2s ease-in;
  &:hover {
    background-color: #220f00;
    color: white;
  }
}

#search-bar-container {
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  z-index: 200;
  position: fixed;
  overscroll-behavior: none;
  overflow-y: hidden;
  background-color: rgba(0, 0, 0, 0.785);
  display: flex;
  justify-content: center;
  align-items: center;

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.816);
  }

  .search-bar {
    border: 1px solid gray;
    display: flex;
    background-color: #220f00;
    margin-right: 20px;
    width: 100%;
    max-width: 400px;
    padding-left: 10px;
    height: 45px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 300;
    input {
      color: white;
    }
  }
}
